<div class='conteiner ' >
<div class='span6 navbar-inner border offset2'>
	<h4 class="center">Создание нового SVG избражения</h4>


		
	
	        <form class="form-horizontal creatsvg">
        <div class="control-group ">
        <label class="control-label" for="inputEmail">Имя</label>
        <div class="controls">
     	<input type='text' placeholder="Введите имя..." id='input-name' ng-model='NameSVG'>
        </div>
        </div>
       
        <div class="control-group">
        <div class="controls">
        
      	<button ng-click='Creat()'  class='btn btn-primary ' >
				Создать
			</button>
        </div>
        </div>
        </form>
	
	</div>
</div>
