<div ng-controller="ListFrends">
<p>{{Hello}}</p>
<input ng-model="Num"><button ng-click="List()">обновить</button>
<select ng-model='NumList'>
	<option ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11]"  value='{{i}}'>{{i}}</option>
</select>
<input class='span-3' ng-model="finde">
<select  class='span-3'  ng-model="OrderBy">
  <option value="name">Name</option>
  <option value="id">id</option>
  <option  value="Id_NTO">Id_NTO</option>
</select>
<p>Sort By :{{OrderBy}}</p>
 <table class='table table-condensed table-striped table-hover'>
 <thead><tr>
 <td>Name</td>
 <td>Famele</td>
 <td>ID_NTO</td>
 </tr>
 </thead>
 <tr ng-repeat="(key,frend) in frends| filter:finde|orderBy:OrderBy:true">
 <td>{{frend.id}}</td><td><a class="btn" href="#"><i class="glyphicon-pencil"></i></a><input class="tr-small" ng-model='frend.name'type='text' ng-required value='{{frend.name}}'></td><td>{{frend.Id_NTO}}</td></tr>

 </table>
 <h3>{{frends.length}}</h3>
 <table>
 <tr ng-repeat="i in [1,2,3,4,5,6]">
   <td>Num</td><td>{{i}}</td>
 </tr>  
 </table>
 <button ng-click='list()'>dsd </button>
</div>