<div class='conteiner' >
<div class ='span6 offset2 navbar-inner border'>
       <form class="form-horizontal">
       <div class='center'>
       <p>
       <h4>
       		Добро пожаловать
       
       </h4>
       </p>
       <small>
       			<lable class="muted">
       		Для входа в систему введите логин и пароль
       		</lable>
       </small>
       </div>
       <p>
        <div class="control-group">
        <label class="control-label" for="inputEmail">Логин</label>
        <div class="controls">
        <input type="text"  placeholder="Логин" ng-model="login">
        </div>
        </div>
        <div class="control-group">
        <label class="control-label" for="inputPassword">Пароль</label>
        <div class="controls">
        <input type="password"  placeholder="Пароль" ng-model="password">
        </div>
        </div>
        <div class="control-group">
        <div class="controls">
        
        <button type="submit" class=" btn btn-primary" ng-click="Go()">Вход</button>
        <a type="button" class=" btn btn-primary" href="admin.php#/register/">Регистрация</a>

        </div>
        </div>
        </form>
  </div>
  </p>
  </div>