<div class='navbar-inner span11'>
<div class="center">
<iframe   id="iframeSVG"  src="svg-edit-2.7.1/svg-editor.html?extensions=ext-xdomain-messaging.js" style="border-style: none;" height="620" class="span10 frame iframe"  >
</iframe>


			<button ng-click='SaveSVG()'  class='btn btn-primary ' >
				Сохранить
			</button>
			<button ng-click='DeleteMap()'  class='btn btn-warning ' >
				Удалить
			</button>
		
				<a  href="admin.php#/allmaps"  class='btn btn-success ' >
				Карты
			</a>
			</div>

</div>
