  <div class="span4">
        <div class="navbar">
        <div class="navbar-inner">
 <ul class='span3 '>
         <li ng-click='List()'>
         <h3 class='text-info'>Классы Объектов</h3>
          <ul >
          <li ><a class='text-success' href="admin.php#/addnto">Создать новый класс</a></li>
           <li ><a class='text-success' href="admin.php#/allnto">Все классы</a></li>   

         
</ul>
      </li>
      <li >
      <h3 class='text-info'>Объекты</h3>
          <ul >
          <li ><a class='text-success' href="admin.php#/addobj">Создать новый объект</a></li>
          <li ><a  class='text-success' href="admin.php#/allntoobj">Все объекты</a></li>    

          </ul>
      </li>
       </li>
      <li >
      <h3 class='text-info'>Карты</h3>
          <ul >
          <li ><a class='text-success' href="admin.php#/creatsvg">Создать новую SVG карту</a></li>
          <li ><a  class='text-success' href="admin.php#/allmaps">Все карты</a></li>    

          </ul>
      </li>

</ul>
</div>
</div>
</div>
