<div class='conteiner' >
<div class ='span6 offset2 navbar-inner border'>
       <form  class="form-horizontal">
       <div class='center'>
       <p>
       <h4>
       		Регистрация нового пользователя
       
       </h4>
       </p>
       <small>
       			<lable class="muted">
       		Для регистрации в системе заполните все поля
       		</lable>
       </small>
       </div>
       <p>
        <div class="control-group">
        <label class="control-label" for="inputEmail">Логин или emal</label>
        <div class="controls">
        <input type="text"  placeholder="Логин" ng-model="login">
        </div>
        </div>
        <div class="control-group">
        <label class="control-label" for="inputPassword">Пароль</label>
        <div class="controls">
        <input type="password"  placeholder="Пароль" ng-model="password">
        </div>
        </div>
        <div class="control-group">
        <label class="control-label" for="inputPassword"> Повторите пароль</label>
        <div class="controls">
        <input type="password"  placeholder="Повторите пароль" ng-model="passwordTwo">
        </div>
        </div>
        <div class="control-group">
        <div class="controls">
        
        
        <button type="button" class=" btn btn-primary" ng-click="register()">Зарегистрироваться</button>

        </div>
        </div>
        </form>
  </div>
  </p>
  </div>